<button class="back-btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
<section class="contact-container">
  <h1 class="contact-title">Contact Me</h1>

  <div class="contact-content">
    <p class="intro">
      Feel free to reach out! I’m always open to discuss new projects, ideas, or opportunities.
    </p>
    <p class="email">nouralhuda.mofti1&#64;gmail.com</p>

    <div class="contact-icons">
      <a href="mailto:nouralhuda.mofti1@gmail.com" target="_blank" class="contact-link">
        <i class="fas fa-envelope"></i>
        <span>Email</span>
      </a>

      <a href="https://www.linkedin.com/in/nour-alhuda-mofti-869b8b329/" target="_blank" class="contact-link">
        <i class="fab fa-linkedin"></i>
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
</section>
<p class="footer">©2025 Nour Alhuda Mofti. All Rights Reserved</p>
