.back-btn {
  position: absolute;
  left: 10%;
  top: 3%;
  z-index: 9999;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 20px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: pink;
    color: black;
  }

  &:active {
    transform: translateY(1px);
  }
}

.about-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/images/cherry_blossom2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-title {
    font-family: 'Jost', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
    border-bottom: 2px solid white;
    text-align: center;
  }

  .about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;

    .intro {
      padding: 0 20%;
      font-size: 1.5rem;
      text-align: center;
    }

    .skills {
      display: flex;
      align-items: flex-start;
      gap: 40px;
      padding: 0 20%;
      margin-top: 0;

      .skills-title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 4rem;
        margin: 0;
        border-left: 2px solid white;
      }

      .skills-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;

        .skill-category {
          border-radius: 10px;

          h2 {
            font-family: 'Jost', sans-serif;
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 15px;
            text-transform: uppercase;
            border-bottom: 1px solid white;
          }

          ul {
            list-style: none;
            padding-left: 0;

            li {
              font-size: 1.2rem;
              line-height: 1.5;
              position: relative;
            }
          }
        }
      }
    }
  }
}

.footer {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: white;
  font-size: small;
  background-color: black;
}
