<div class="fullscreen-image">
    <h1>Nour Alhuda Mofti</h1>
    <div class="container">
        <div class="petals">
            <span style="--i:5; --scale:0.7;"></span>
            <span style="--i:15; --scale:1;"></span>
            <span style="--i:10; --scale:0.8;"></span>
            <span style="--i:47; --scale:1.2;"></span>
            <span style="--i:30; --scale:0.6;"></span>
            <span style="--i:13; --scale:0.9;"></span>
            <span style="--i:23; --scale:1;"></span>
            <span style="--i:44; --scale:0.8;"></span>
            <span style="--i:17; --scale:0.7;"></span>
            <span style="--i:30; --scale:1.1;"></span>
            <span style="--i:25; --scale:0.9;"></span>
            <span style="--i:19; --scale:0.8;"></span>
            <span style="--i:9; --scale:0.7;"></span>
            <span style="--i:22; --scale:1;"></span>
            <span style="--i:25; --scale:1.2;"></span>
            <span style="--i:8; --scale:0.6;"></span>
            <span style="--i:21; --scale:0.9;"></span>
            <span style="--i:5; --scale:0.8;"></span>
            <span style="--i:37; --scale:1.1;"></span>
            <span style="--i:13; --scale:0.7;"></span>
            <span style="--i:45; --scale:1;"></span>
            <span style="--i:10; --scale:0.9;"></span>
            <span style="--i:60; --scale:1.2;"></span>
            <span style="--i:55; --scale:0.8;"></span>
            <span style="--i:10; --scale:0.7;"></span>
            <span style="--i:28; --scale:1.1;"></span>
            <span style="--i:11; --scale:0.9;"></span>
            <span style="--i:12; --scale:0.8;"></span>
            <span style="--i:24; --scale:1;"></span>
            <span style="--i:10; --scale:0.7;"></span>
            <span style="--i:23; --scale:1.2;"></span>
            <span style="--i:5; --scale:0.6;"></span>
            <span style="--i:16; --scale:0.8;"></span>
            <span style="--i:19; --scale:1;"></span>
            <span style="--i:22; --scale:0.9;"></span>
            <span style="--i:25; --scale:1.1;"></span>
            <span style="--i:7; --scale:0.7;"></span>
            <span style="--i:44; --scale:1;"></span>
            <span style="--i:55; --scale:1.2;"></span>
            <span style="--i:29; --scale:0.9;"></span>
            <span style="--i:21; --scale:0.8;"></span>
            <span style="--i:15; --scale:0.7;"></span>
            <span style="--i:13; --scale:1;"></span>
            <span style="--i:26; --scale:1.1;"></span>
            <span style="--i:17; --scale:0.9;"></span>
            <span style="--i:13; --scale:0.8;"></span>
            <span style="--i:28; --scale:1.2;"></span>
            <span style="--i:29; --scale:1;"></span>
            <span style="--i:21; --scale:0.8;"></span>
            <span style="--i:5; --scale:0.7;"></span>
            <span style="--i:13; --scale:1;"></span>
            <span style="--i:10; --scale:0.9;"></span>
            <span style="--i:10; --scale:0.8;"></span>
            <span style="--i:28; --scale:1.1;"></span>
            <span style="--i:11; --scale:0.7;"></span>
            <span style="--i:12; --scale:0.9;"></span>
            <span style="--i:24; --scale:1;"></span>
            <span style="--i:10; --scale:0.8;"></span>
            <span style="--i:23; --scale:1.1;"></span>
            <span style="--i:45; --scale:1.2;"></span>
            <span style="--i:33; --scale:0.9;"></span>
            <span style="--i:22; --scale:0.8;"></span>
            <span style="--i:5; --scale:0.7;"></span>
            <span style="--i:16; --scale:1;"></span>
            <span style="--i:19; --scale:0.9;"></span>
            <span style="--i:22; --scale:1.1;"></span>
            <span style="--i:30; --scale:0.8;"></span>
            <span style="--i:35; --scale:1.2;"></span>
            <span style="--i:19; --scale:0.9;"></span>
            <span style="--i:9; --scale:0.7;"></span>
            <span style="--i:22; --scale:1;"></span>
            <span style="--i:25; --scale:0.8;"></span>
            <span style="--i:8; --scale:0.7;"></span>
            <span style="--i:21; --scale:1.1;"></span>
            <span style="--i:5; --scale:0.6;"></span>
            <span style="--i:15; --scale:0.9;"></span>
            <span style="--i:10; --scale:0.8;"></span>
            <span style="--i:50; --scale:1.2;"></span>
            <span style="--i:22; --scale:0.9;"></span>
            <span style="--i:30; --scale:1;"></span>
            <span style="--i:13; --scale:0.8;"></span>
            <span style="--i:23; --scale:1.1;"></span>
        </div>
    </div>
    <div class="buttons-container">
        <button (click)="router.navigate(['/projects'])">Projects</button>
        <button (click)="router.navigate(['/about'])">About</button>
        <button (click)="router.navigate(['/contact'])">Contact</button>
    </div>
    <p class="footer">©2025 Nour Alhuda Mofti. All Rights Reserved</p>
</div>